<style>
body{
  background-image: url("https://wednesdayhsu.github.io/DMST103Twine/images/raindrop.jpg");
  color: white;
  font-size: 45px;
}

table {
  width:100%;
  border:1px solid black;
  font-size:45px;
}
</style>
